<div class="container text-center text-bg-warning p-3">
  <div class="row">
    <div class="col">
     <h1>Free Acoustic Guitar Lessons</h1>
     <p>Learn with me from the very beginning! If you already play, improve your skills and discover new tips and techniques.</p>
     <ul class="list-group">
      <li class="list-group-item">Learn For Free</li>
      <br>
      <li class="list-group-item">Basic to Advanced</li>
      <br>
      <li class="list-group-item">Free Learning Material</li>
      <br>
      <li class="list-group-item">Links for websites and free Videos</li>
    </ul>
    </div>
    <div class="col" >
      <img src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/10/18/Pictures/_d6929420-1134-11eb-a7ae-dbad450b06aa.jpg" alt="">
    </div>
  </div>
</div>
<br>
<div class="container text-center text-bg-dark p-3 ">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ytimg.com/vi/fJ9rUzIMcZQ/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC7tkjMN8pT-zh4iBw5n9zg11OMFQ" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-bg-light p-3">Bohemian Rhapsody</h5>
          <p class="card-text text-bg-light p-3">Amazing Guitar Cover of Bohemian Rhapsody by Randy Coleman</p>
          <a href="https://www.youtube.com/watch?v=ZySOgMzOY0Q"  target="_blank"  class="btn btn-primary">Watch Video</a>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="http://bravewords.com/medias-static/images/news/2021/609E874F-queen-queen-the-greatest-episode-9-1976-somebody-to-love-freddie-s-greatest-hit-video-image.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-bg-light p-3">Somebody to Love</h5>
          <p class="card-text text-bg-light p-3">Amazing Guitar Cover of Somebody To Love  by HawkMoon</p>
          <a href="https://www.youtube.com/watch?v=_flpafW4Ct8"  target="_blank" class="btn btn-primary">Watch Video</a>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxAf2x7iqkf-bzc1ED1p305NQoeqekf4oGyA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-bg-light p-3">Jiunu Nai Hola </h5>
          <p class="card-text text-bg-light p-3">This video was shot during Practice and Jam Session of Tribal Rain</p>
          <a href="https://www.youtube.com/watch?v=Zlh_5Eo91rY"  target="_blank" class="btn btn-primary">Watch Video</a>
        </div>
      </div>

    </div>
  </div>
</div>
